html,body{
	height:100%;
	margin: 0;
	display: flex;
	flex-direction: column;

}


body {
	background: -webkit-linear-gradient(top,  #424242 71%,#424242 99%); /* Chrome10+,Safari5.1+ */

}
.group {
	border-left: 1.3px solid #424242;
	border-right: 1.3px solid #424242;
	color: rgb(255, 255, 255);
	background: -webkit-linear-gradient(top,  rgb(66, 66, 66) 0%,rgb(66, 66, 66) 100%); /* Chrome10+,Safari5.1+ */
	
	width: 76%;


	padding: 0px;

	margin-top: 0px ;
	margin-bottom: 0px;
	margin-right: auto;
	margin-left: auto;
}
#card{
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #424242;
    background-clip: border-box;
    border: 1px solid rgba(41, 41, 41, 0.125);
    border-radius: .25rem;
}
#navbar{
	background: rgb(51, 51, 51); /* Chrome10+,Safari5.1+ */
	position:relative;
	box-shadow: inset 0 -1px 0 var(--color-border-secondary);

}

#navbar:before{
	content: '';
	position: absolute;
	bottom:-2%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
	filter: blur(10px);
}

#texto {
	margin: 0px auto;
	width: 60%;
	margin-bottom: 32px;
	color: white;
	background-color: #424242;
}

#accordionExample{
	
	margin-bottom: 100px;
	border-radius: 30px;
	background-color: #424242;
}

#jumbo{
	background-color: #252525;
}

#collapseOne{
	background-color: #424242;
	
}
#headingOne{
	background-color: #424242;
}

#headingTwo{
	background-color: #424242;
}
#collapseTwo{
	background-color: #424242;
}
